.ftco-about {
    background-attachment: fixed;
    height: 50vh;
}

.overlay-parallax {
    background-color: transparent !important;
    background-image: linear-gradient(180deg, #25BF00B3 0%, #000 100%) !important;
    opacity: .5 !important;
    transition: background .3s, border-radius .3s, opacity .3s !important;
}